'scopeName': 'source.bve-map'
'name': 'bve-map'
'fileTypes': ['map.txt']
'patterns': [
  {
    'name': 'comment.bve-map'
    'match': '((//|#).*)'
    'captures':
        '1':
            'name': 'comment.line.bve-map'
  }
  {
    'name': 'distance.bve-map'
    'match': '(\\d*)\\s*;'
    'captures':
      '1':
        'name': 'entity.name.section.bve-map'
  }
  {
    'name': 'repeater.bve-map'
    'match': '(Repeater)\\s*\\[\\s*\'(.+)\'\\s*\\]'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.tag.bve-map'
  }
  {
    'name': 'repeater.begin0.bve-map'
    'match': '\.(Begin0?)\\s*\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'curve.bve-map'
    'match': '\\b(Curve)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'curve.setGauge.bve-map'
    'match': '\.(SetGauge)\\(\\s*(.*)\\s*\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'gauge.bve-map'
    'match': '\.(Gauge)\\(\\s*(.*)\\s*\\);'
    'captures':
      '1':
        'name': 'invalid.deprecated.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'curve.setCenter.bve-map'
    'match': '\.(SetCenter)\\(\\s*(.*)\\s*\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'curve.setFunction.bve-map'
    'match': '\.(SetFunction)\\(\\s*(\\d)\\s*\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'curve.beginTransition.bve-map'
    'match': '\.(BeginTransition)\\(\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
  }
  {
    'name': 'curve.begin.bve-map'
    'match': '(Curve)\\s*\.(Begin)\\(((\\d|.|\\s|,)+)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'curve.end.bve-map'
    'match': '\.(End)\\(\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
  }
  {
    'name': 'curve.interpolate.bve-map'
    'match': '\.(Interpolate)\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'curve.change.bve-map'
    'match': '\.(Change)\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'gradient.bve-map'
    'match': '\\b(Gradient)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'track.bve-map'
    'match': '\\b(Track)\\[\'(\.+)\'\\]'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'entity.name.tag.bve-map'
  }
  {
    'name': 'track.xInterpolate.bve-map'
    'match': '\.(X)\.(Interpolate)\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.type.bve-map'
      '2':
        'name': 'entity.type.bve-map'
      '3':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'track.yInterpolate.bve-map'
    'match': '\.(Y)\.(Interpolate)\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.type.bve-map'
      '2':
        'name': 'entity.type.bve-map'
      '3':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'track.position.bve-map'
    'match': '\.(Position)\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'track.cant.bve-map'
    'match': '\.(Cant)\.'
    'captures':
      '1':
        'name': 'entity.type.bve-map'
  }
  {
    'name': 'structure.load.bve-map'
    'match': '\\b(Structure)\.(Load)\\((.*)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'entity.other.inherited-class.bve-map'
  }
  {
    'name': 'structure.put.bve-map'
    'match': '\\b(Structure)\\[\'(\.+)\'\\]\.(Put0?)\\(\\s*\'(\.*)\'(.*)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.tag.bve-map'
      '3':
        'name': 'entity.name.type.bve-map'
      '4':
        'name': 'entity.name.tag.bve-map'
      '5':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'structure.putBetWeen.bve-map'
    'match': '\\b(Structure)\\[\'(.*)\'\\]\.(PutBetween)\\(\'(.*)\',\'(.*)\'(,(.*))?\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'entity.name.tag.bve-map'
      '4':
        'name': 'entity.name.tag.bve-map'
      '5':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'background.change.bve-map'
    'match': '\\b(Background)\.(Change)\\((.+)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'entity.name.tag.bve-map'
  }
  {
    'name': 'station.load.bve-map'
    'match': '\\b(Station)\.(Load)\\((.+)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'entity.other.inherited-class.bve-map'
  }
  {
    'name': 'station.put.bve-map'
    'match': '\\b(Station)\\[(.+)\\]\.(Put)\\((.*)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.tag.bve-map'
      '3':
        'name': 'entity.name.type.bve-map'
      '4':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'section.bve-map'
    'match': '\\b(Section)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'section.setSpeedLimit.bve-map'
    'match': '\.(SetSpeedLimit)\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'section.BeginNew.bve-map'
    'match': '\.(BeginNew)\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'signal.bve-map'
    'match': '\\b(Signal)\.(SpeedLimit)\\((.*)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'signal.load.bve-map'
    'match': '\\b(Signal)\.(Load)\\((.+)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'entity.other.inherited-class.bve-map'
  }
  {
    'name': 'signal.put.bve-map'
    'match': '\\b(Signal)\\[\'(.*)\'\\]\.(Put)\\((.*),(.*),(.*)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.tag.bve-map'
      '3':
        'name': 'entity.name.type.bve-map'
      '4':
        'name': 'constant.numeric.bve-map'
      '5':
        'name': 'entity.name.tag.bve-map'
      '6':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'beacon.put.bve-map'
    'match': '\\b(Beacon)\.(Put)\\((.*)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'speedLimit.bve-map'
    'match': '\\b(SpeedLimit)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'pretrain.pass.bve-map'
    'match': '\\b(PreTrain)\.(Pass)\\((.*)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'light.bve-map'
    'match': '\\b(Light)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'light.ambient.bve-map'
    'match': '\.(Ambient)\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'light.diffuse.bve-map'
    'match': '\.(Diffuse)\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'light.direction.bve-map'
    'match': '\.(Direction)\\((.*)\\);'
    'captures':
      '1':
        'name': 'entity.name.type.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'fog.bve-map'
    'match': '(Fog)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'set.bve-map'
    'match': '\.(Set)\\s*\\((.*)\\)'
    'captures':
      '1':
        'name': 'invalid.deprecated.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'drawdistance.bve-map'
    'match': '\\b(DrawDistance)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'cabIlluminance.bve-map'
    'match': '\\b(CabIlluminance)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'irregularity.bve-map'
    'match': '\\b(Irregularity)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'adhesion.bve-map'
    'match': '\\b(Adhesion)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'sound.load.bve-map'
    'match': '\\b(Sound)\.(Load)\\((.+)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'entity.other.inherited-class.bve-map'
  }
  {
    'name': 'sound.play.bve-map'
    'match': '\\b(Sound)\\[\'(.+)\'\\]\.(Play)\\(\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.tag.bve-map'
      '3':
        'name': 'entity.name.type.bve-map'
  }
  {
    'name': 'sound3d.load.bve-map'
    'match': '\\b(Sound3D)\.(Load)\\((.+)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'entity.other.inherited-class.bve-map'
  }
  {
    'name': 'sound3d.put.bve-map'
    'match': '\\b(Sound3D)\\[\'(.+)\'\\]\.(Put)\\((.*)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.tag.bve-map'
      '3':
        'name': 'entity.name.type.bve-map'
      '4':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'rollingNoise.bve-map'
    'match': '\\b(RollingNoise)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'flangeNoise.bve-map'
    'match': '\\b(FlangeNoise)'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
  }
  {
    'name': 'jointNoise.play.bve-map'
    'match': '\\b(JointNoise)\.(Play)\\((.*)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'train.add.bve-map'
    'match': '\\b(Train)\.(Add)\\((.*)\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.type.bve-map'
      '3':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'train.bve-map'
    'match': '\\b(Train)\\[\'(.*)\'\\]'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.tag.bve-map'
  }
  {
    'name': 'train.load.bve-map'
    'match': '\\b(Train)\\[\'(.*)\'\\]\.(Load)\\(\'(.*)\'\\);'
    'captures':
      '1':
        'name': 'keyword.control.bve-map'
      '2':
        'name': 'entity.name.tag.bve-map'
      '3':
        'name': 'entity.other.inherited-class.bve-map'
  }
  {
    'name': 'train.enable.bve-map'
    'match': '\.(Enable)\\(\'(.*)\'\\);'
    'captures':
      '1':
        'name': 'entity.name.tag.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
  {
    'name': 'train.stop.bve-map'
    'match': '\.(Stop)\\(\'(.*)\'\\);'
    'captures':
      '1':
        'name': 'entity.name.tag.bve-map'
      '2':
        'name': 'constant.numeric.bve-map'
  }
]
